.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__interested-people {
  font-family: 'Prompt';
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  color: #9b9b9b;
}